<section ng-init="
                slides = [{
                    img: 'images/temp/heroes-of-newerth-bg.jpg',
                    blurredImg: 'images/temp/heroes-of-newerth-bg-blurred.jpg',
                    logo: 'images/temp/heroes-of-newerth-logo.png',
                    link: 'ContentExtract/SingleAppPage/game-editor/S2-Games-Heroes-of-Newerth',
                    style: 'game',
                    tileIcon: $root.serverBase + '/.galleries/game-icons/5318..png',
                    title: 'Heroes of Newerth',
                    description: 'Heroes of Newerth takes the DotA formula to the next level by delivering cutting edge graphics, fast-paced gameplay, meticulous statistical tracking that feeds gamers\' competitive appetites around the world.',
                    buttonStyle: {'margin-left':'83px'}
                }, {
                    img: 'images/temp/world-of-tanks-bg.jpg',
                    blurredImg: 'images/temp/world-of-tanks-bg-blurred.jpg',
                    logo: 'images/temp/world-of-tanks-logo.png',
                    link: 'ContentExtract/SingleAppPage/game-editor/Wargaming-World-of-Tanks',
                    style: 'game',
                    tileIcon: $root.serverBase + '/.galleries/game-icons/6365.png',
                    title: 'World of Tanks',
                    description: 'World of Tanks is the greatest team-based massively multiplayer online action game dedicated to armored warfare.',
                    buttonStyle: {'margin-left':'83px'}
                }, {
                    img: 'images/temp/smite-bg.jpg',
                    blurredImg: 'images/temp/smite-bg-blurred.jpg',
                    logo: 'images/temp/smite-logo.png',
                    link: 'ContentExtract/SingleAppPage/game-editor/Hi-Rez-Studios-SMITE',
                    style: 'game',
                    tileIcon: $root.serverBase + '/.galleries/game-icons/8134.png',
                    title: 'SMITE',
                    description: 'SMITE is the online battleground of the gods. Players choose from a diverse cast of deities and use their unique powers to triumph over the opposition in 5v5 team matches.',
                    buttonStyle: {'margin-left':'83px'}
                }, {
                    img: 'images/temp/robocraft-bg.jpg',
                    blurredImg: 'images/temp/robocraft-bg-blurred.jpg',
                    logo: 'images/temp/robocraft-logo.png',
                    link: 'ContentExtract/SingleAppPage/game-editor/Freejam-Robocraft',
                    style: 'game',
                    tileIcon: $root.serverBase + '/.galleries/game-icons/10480.png',
                    title: 'Robocraft',
                    description: 'Build insane Robot Battle Vehicles that drive, hover and fly; add weapons from the future and jump in the driving seat as you take them into battle in a team based capture the base Free-to-Win MMO.',
                    buttonStyle: {'margin-left':'83px'}
                }, {
                    img: 'images/temp/warface-bg.jpg',
                    blurredImg: 'images/temp/warface-bg-blurred.jpg',
                    logo: 'images/temp/warface-logo.png',
                    link: 'ContentExtract/SingleAppPage/game-editor/Crytek-Warface',
                    style: 'game',
                    tileIcon: $root.serverBase + '/.galleries/game-icons/7784.png',
                    title: 'Warface',
                    description: 'Sign-up at Warface.com! Warface is a team-based shooter loaded with co-op and versus action, stacks of game modes and a wealth of weapons for players to get to grips with.',
                    buttonStyle: {'margin-left':'83px'}
                },];
            ">
    <ng-include src="'partials/sliders/slider-common.html'" ng-init="getText = 'Play for free'"></ng-include>
</section>