<section ng-init="
                slides = [{
                    img: 'images/temp/tank-o-mania-bg.jpg',
                    blurredImg: 'images/temp/tank-o-mania-bg-blurred.jpg',
                    logo: 'images/temp/tank-o-mania-logo.png',
                    link: 'ContentExtract/SingleSkinPage/skin-editor/Overwolf-Tank-O-Mania',
                    style: 'game',
                    tileIcon: $root.serverBase + '/.galleries/skin-icons/tank-o-mania.png',
                    title: 'Tank-O-Mania',
                    description: 'Put Overwolf behind the seat of this burly and rugged skin and go for a joy ride, leaving nothing but destruction behind you.',
                    buttonStyle: {'margin-left':'83px'}
                }, {
                    img: 'images/temp/elven-ship-bg.jpg',
                    blurredImg: 'images/temp/elven-ship-bg-blurred.jpg',
                    logo: 'images/temp/elven-ship-logo.png',
                    link: 'ContentExtract/SingleSkinPage/skin-editor/Overwolf-Elven-Ship',
                    style: 'game',
                    tileIcon: $root.serverBase + '/.galleries/skin-icons/elven-ship.png',
                    title: 'Elven Ship',
                    description: 'Set sail on a beautiful adventure with the graceful and regal Elven Ship skin.',
                    buttonStyle: {'margin-left':'83px'}
                }, {
                    img: 'images/temp/star-of-tyria-bg.jpg',
                    blurredImg: 'images/temp/star-of-tyria-bg-blurred.jpg',
                    logo: 'images/temp/star-of-tyria-logo.png',
                    link: 'ContentExtract/SingleSkinPage/skin-editor/Overwolf-Star-of-Tyria',
                    style: 'game',
                    tileIcon: $root.serverBase + '/.galleries/skin-icons/star-of-tyria.png',
                    title: 'Star of Tyria',
                    description: 'Equip Overwolf with some heavy armor and legendary weapons with the Star of Tyria skin.',
                    buttonStyle: {'margin-left':'83px'}
                }, {
                    img: 'images/temp/redstone-bg.jpg',
                    blurredImg: 'images/temp/redstone-bg-blurred.jpg',
                    logo: 'images/temp/redstone-logo.png',
                    link: 'ContentExtract/SingleSkinPage/skin-editor/Overwolf-Redstone',
                    style: 'game',
                    tileIcon: $root.serverBase + '/.galleries/skin-icons/redstone.png',
                    title: 'Redstone',
                    description: 'Take Overwolf on a cube-like, 8-bit galore adventure with this Minecraft-inspired skin.',
                    buttonStyle: {'margin-left':'83px'}
                }, {
                    img: 'images/temp/hearthskin-bg.jpg',
                    blurredImg: 'images/temp/hearthskin-bg-blurred.jpg',
                    logo: 'images/temp/hearthskin-logo.png',
                    link: 'ContentExtract/SingleSkinPage/skin-editor/Overwolf-HearthSkin',
                    style: 'game',
                    tileIcon: $root.serverBase + '/.galleries/skin-icons/hearthskin.png',
                    title: 'HearthSkin',
                    description: 'Play your cards right with the deceptively magical and insanely awesome HearthSkin.',
                    buttonStyle: {'margin-left':'83px'}
                },];
            ">
    <ng-include src="'partials/sliders/slider-common.html'" ng-init="getText = 'get this skin'"></ng-include>
</section>