<div class="ftue-overlay" ng-show="$root.ftueTooltipShowing"></div>
<div class="ftue-tooltip-container" ng-show="$root.ftueTooltipShowing">
    <div class="ftue-tooltip top">
        <h1>Hello Appstore</h1>
        <p>Here you can discover apps to help you rock your game.
            Click on your favorite game for apps tailored for it, or
            browse for apps by their category</p>

        <footer>
            <button id="ftue-tooltip-button" class="btn">Got it</button>
        </footer>
        <svg class="ftue-tooltip-arrow">
            <use xlink:href=".content/assets/svg/sprite.svg#tooltip-arrow" />
        </svg>
    </div>
</div>