<section class="tiles">
<header>
    <h1>Featured
        <a href="#" class="js-view-all-tiles">View all<i>&#xe60a;</i></a>
    </h1>
</header>

<div class="tiles-inner">
<div class="tiles-row cf">
<article ow-modal-trigger="templates/app-modal.html" ow-modal-trigger-container="app">
    <small class="installed">
        <i class="icon-ui_installed"></i> Installed
    </small>
    <span class="tile-pic"><img src="images/temp/img-1.png" alt=""></span>
    <h5>
        <small class="price">free</small>
        Very Long application name
    </h5>
    <aside>
                                        <span class="downloads">
                                            <i class="icon-ui_downloads-arrow"></i> 10,256 Downloads
                                        </span>
                                        <span class="rating rating-3-5">
                                            <i></i>
                                            <i></i>
                                            <i></i>
                                            <i></i>
                                            <i></i>
                                        </span>
    </aside>

    <div class="overlay-wrap">
        <div class="overlay">
            <h6>
                <span class="tile-thumb"><img src="images/temp/img-thumb-1.jpg" alt=""></span>
                Very Long application name

                                                <span class="rating rating-3-5">
                                                    <i></i>
                                                    <i></i>
                                                    <i></i>
                                                    <i></i>
                                                    <i></i>
                                                </span>
            </h6>
            <p ow-trim-text>
                Defend your kingdom against hordes of orcs, trolls, evil wizards and other nasty fiends in this medieval fantasy fun action packed tower defense game with RTS elements by Ironhide Game Studio.
            </p>

                                            <span class="tile-controls" ow-modal-trigger-ignore>
                                                <a href="#" class="btn-standard">Launch</a>
                                                <a href="#" class="btn-share" ow-share-tooltip="https://google.com/"><i class="icon-ui_share"></i></a>
                                            </span>
        </div>
    </div>
</article>

<article ow-modal-trigger="templates/app-modal.html" ow-modal-trigger-container="app">
    <span class="tile-pic"><img src="images/temp/img-2.png" alt=""></span>
    <h5>
        <small class="price">free</small>
        Very Long application name
    </h5>
    <aside>
                                        <span class="metacritic green">
                                            <em>99</em>
                                        </span>
                                        <span class="rating rating-3-5">
                                            <i></i>
                                            <i></i>
                                            <i></i>
                                            <i></i>
                                            <i></i>
                                        </span>
    </aside>
    <div class="overlay-wrap">
        <div class="overlay">
            <h6>
                <span class="tile-thumb"><img src="images/temp/img-thumb-1.jpg" alt=""></span>
                Very Long application name

                                                <span class="metacritic green">
                                                    <em>99</em>
                                                </span>
            </h6>
            <p ow-trim-text>
                Defend your kingdom against hordes of orcs, trolls, evil wizards and other nasty fiends in this medieval fantasy fun action packed tower defense game with RTS elements by Ironhide Game Studio.
                Defend your kingdom against hordes of orcs, trolls, evil wizards and other nasty fiends in this medieval fantasy fun action packed tower defense game with RTS elements by Ironhide Game Studio.
            </p>

                                            <span class="tile-controls" ow-modal-trigger-ignore>
                                                <a href="#" class="btn-standard">Free <i class="icon-ui_link-arrow"></i></a>
                                                <a href="#" class="btn-share" ow-share-tooltip="https://google.com/"><i class="icon-ui_share"></i></a>
                                            </span>
        </div>
    </div>
</article>

<article ow-modal-trigger="templates/app-modal.html" ow-modal-trigger-container="app">
    <span class="tile-pic"><img src="images/temp/img-1.png" alt=""></span>
    <h5>
        <small class="price">$22.99</small>
        Very Long application name with some dots for you to see
    </h5>
    <aside>
                                        <span class="metacritic yellow">
                                            <em>50</em>
                                        </span>
                                        <span class="rating rating-1-5">
                                            <i></i>
                                            <i></i>
                                            <i></i>
                                            <i></i>
                                            <i></i>
                                        </span>
    </aside>
    <div class="overlay-wrap">
        <div class="overlay">
            <h6>
                <span class="tile-thumb"><img src="images/temp/img-thumb-1.jpg" alt=""></span>
                Very Long application name

                                                <span class="metacritic yellow">
                                                    <em>50</em>
                                                </span>
            </h6>
            <p ow-trim-text>
                Defend your kingdom against hordes of orcs, trolls, evil wizards and other nasty fiends in this medieval fantasy fun action packed tower defense game with RTS elements by Ironhide Game Studio.
            </p>

                                            <span class="tile-controls" ow-modal-trigger-ignore>
                                                <a href="#" class="btn-standard">$22.99</a>
                                                <a href="#" class="btn-share" ow-share-tooltip="https://google.com/"><i class="icon-ui_share"></i></a>
                                            </span>
        </div>
    </div>
</article>

<article ow-modal-trigger="templates/app-modal.html" ow-modal-trigger-container="app">
    <span class="tile-pic"><img src="images/temp/img-4.png" alt=""></span>
    <h5>
        <small class="price">$0.99</small>
        Very Long application name to check it's length here
    </h5>
    <aside>
                                        <span class="metacritic red">
                                            <em>25</em>
                                        </span>
                                        <span class="rating rating-5">
                                            <i></i>
                                            <i></i>
                                            <i></i>
                                            <i></i>
                                            <i></i>
                                        </span>
    </aside>

    <div class="overlay-wrap">
        <div class="overlay">
            <h6>
                <span class="tile-thumb"><img src="images/temp/img-thumb-1.jpg" alt=""></span>
                Very Long application name to check it's length here

                                                <span class="metacritic red">
                                                    <em>25</em>
                                                </span>
            </h6>
            <p ow-trim-text>
                Defend your kingdom against hordes of orcs, trolls, evil wizards and other nasty fiends in this medieval fantasy fun action packed tower defense game with RTS elements by Ironhide Game Studio.
            </p>

                                            <span class="tile-controls" ow-modal-trigger-ignore>
                                                <a href="#" class="btn-standard">$0.99</a>
                                                <a href="#" class="btn-share" ow-share-tooltip="https://google.com/"><i class="icon-ui_share"></i></a>
                                            </span>
        </div>
    </div>
</article>

<article ow-modal-trigger="templates/app-modal.html" ow-modal-trigger-container="app">
    <span class="tile-pic"><img src="images/temp/img-5.png" alt=""></span>
    <h5>
        <small class="price price-discount">$18.75</small>
        Very Long application name
    </h5>
    <aside class="discount">
        <div class="inner">
            <small class="price">$12.99</small>
            <em>40% Off</em>
            on Amazon
        </div>
    </aside>
    <div class="overlay-wrap">
        <div class="overlay">
            <h6>
                <span class="tile-thumb"><img src="images/temp/img-thumb-1.jpg" alt=""></span>
                Very Long application name

                                                <span class="metacritic yellow">
                                                    <em>62</em>
                                                </span>
            </h6>
            <p ow-trim-text>
                Defend your kingdom against hordes of orcs, trolls, evil wizards and other nasty fiends in this medieval fantasy fun action packed tower defense game with RTS elements by Ironhide Game Studio.
            </p>

            <aside class="discount-large">
                <div class="inner">
                    <small class="price">$79.99</small>
                    <em>20% Off</em>
                    on Amazon
                </div>
            </aside>

                                            <span class="tile-controls" ow-modal-trigger-ignore>
                                                <a href="#" class="btn-standard">Get the deal <i class="icon-ui_link-arrow"></i></a>
                                                <a href="#" class="btn-share" ow-share-tooltip="https://google.com/"><i class="icon-ui_share"></i></a>
                                            </span>
        </div>
    </div>
</article>
</div>
</div>

<div class="tiles-inner">
    <div class="tiles-row tiles-row-banner cf">
        <article>
            <span><img src="images/temp/img-9.png" alt=""></span>
        </article>

        <article>
            <span><img src="images/temp/img-7.png" alt=""></span>
        </article>

        <article>
            <span><img src="images/temp/img-8.png" alt=""></span>
        </article>
    </div>
</div>
</section>

<section class="tiles">
    <header>
        <h1>New Stuff
            <a href="#" class="js-view-all-tiles">View all<i>&#xe60a;</i></a>
        </h1>
    </header>

    <div class="tiles-inner">
        <div class="tiles-row cf">
            <article ow-modal-trigger="templates/app-modal.html" ow-modal-trigger-container="app">
                <span class="tile-pic"><img src="images/temp/img-5.png" alt=""></span>
                <h5>
                    <small class="price price-discount">$18.75</small>
                    Very Long application name
                </h5>
                <aside class="discount">
                    <div class="inner">
                        <small class="price">$12.99</small>
                        <em>40% Off</em>
                        on Amazon
                    </div>
                </aside>
                <div class="overlay-wrap">
                    <div class="overlay">
                        <h6>
                            <span class="tile-thumb"><img src="images/temp/img-thumb-1.jpg" alt=""></span>
                            Very Long application name

                                                <span class="metacritic yellow">
                                                    <em>62</em>
                                                </span>
                        </h6>

                        <div class="discount">
                            <div class="inner">
                                <small class="price">
                                    $79.99
                                    <a href="#"><i class="icon-ui_link-arrow"></i></a>
                                </small>
                                <em>20% Off</em>
                                on Amazon
                            </div>
                        </div>

                        <div class="discount">
                            <div class="inner">
                                <small class="price">
                                    $79.99
                                    <a href="#"><i class="icon-ui_link-arrow"></i></a>
                                </small>
                                <em>20% Off</em>
                                on GamersGate
                            </div>
                        </div>

                        <div class="discount">
                            <div class="inner">
                                <small class="price">
                                    $79.99
                                    <a href="#"><i class="icon-ui_link-arrow"></i></a>
                                </small>
                                <em>20% Off</em>
                                on Amazon
                            </div>
                        </div>

                        <div class="discount-large">
                            <div class="inner">
                                <small class="price">$79.99</small>
                                <em>20% Off</em>
                                on Amazon
                            </div>
                        </div>

                                            <span class="tile-controls" ow-modal-trigger-ignore>
                                                <a href="#" class="btn-standard btn-wide">Get the deal <i class="icon-ui_link-arrow"></i></a>
                                                <a href="#" class="btn-share" ow-share-tooltip="https://google.com/"><i class="icon-ui_share"></i></a>
                                            </span>
                    </div>
                </div>
            </article>

            <article ow-modal-trigger="templates/app-modal.html" ow-modal-trigger-container="app">
                <span class="tile-pic"><img src="images/temp/img-2.png" alt=""></span>
                <h5>
                    <small class="price">Free</small>
                    Very Long application name
                </h5>
                <aside>
                                        <span class="metacritic red">
                                            <em>25</em>
                                        </span>
                </aside>
                <div class="overlay-wrap">
                    <div class="overlay">
                        <h6>
                            <span class="tile-thumb"><img src="images/temp/img-thumb-1.jpg" alt=""></span>
                            Very Long application name

                                            <span class="metacritic red">
                                                <em>25</em>
                                            </span>
                        </h6>
                        <p ow-trim-text>
                            Defend your kingdom against hordes of orcs, trolls, evil wizards and other nasty fiends in this medieval fantasy fun action packed tower defense game with RTS elements by Ironhide Game Studio.
                        </p>
                        <a href="#" class="link-red">Official website <i class="icon-ui_link-arrow"></i></a>
                    </div>
                </div>
            </article>

            <article>
                <span class="tile-pic"><img src="images/temp/img-3.png" alt=""></span>
            </article>

            <article>
                <span class="tile-pic"><img src="images/temp/img-4.png" alt=""></span>
            </article>

            <article>
                <span class="tile-pic"><img src="images/temp/img-5.png" alt=""></span>
            </article>
        </div>
    </div>

    <div class="tiles-inner">
        <div class="tiles-row tiles-row-banner cf">
            <article>
                <span><img src="images/temp/img-9.png" alt=""></span>
            </article>

            <article>
                <span><img src="images/temp/img-7.png" alt=""></span>
            </article>

            <article>
                <span><img src="images/temp/img-8.png" alt=""></span>
            </article>
        </div>
    </div>
</section>